
{% for node in nodes %}
    
<table width='400px' class='hovertable'>
    <th colspan='5'>{{node.name}} [{{node.ver}}]</th>
    <tr>
        <td>Current Pipeline</td>
        <td>Current Task</td>        
        <td>Current File(s)</td>
    </tr>   
    <tr>
        <td>
            <select class="nodepipeline" node="{{node.name}}">               
                <option value="" {% if node.pipeline == "" %} selected="selected" {% endif %}>No Pipeline</option>
                <option value="Auto" {% if node.pipeline == "Auto" %} selected="selected" {% endif %}>Auto</option>
                {% for pipeline in pipelines %}
                <option value="{{pipeline.name}}" {% if node.pipeline == pipeline.name %} selected="selected" {% endif %}>{{pipeline.name}}</option>
                {% endfor %}                                
            </select>
        </td>
        <td>
            <table>
                <tr>
                    <td colspan="2">
                        Pipeline: {{node.ProcessingPipeline.name}}<br>
                        Queue:  <a class="queue" pname="{{node.ProcessingPipeline.name}}" qname="{{node.ProcessingQueue.name}}">{{node.ProcessingQueue.name}}</a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">                        
                        <div id="cmd">
                            <img src="/laravel/public/img/cmd.gif"/>
                            <div class="cmdtext">{{node.cmds|raw}}</div>
                        </div>            
                    </td>
                    <td style="text-align: center">Started:{{node.start_time}}</td>
                </tr>
            </table>
        </td>        
        <td style='white-space: nowrap;'>            
         
            {% for fq in node.file_info %}
                <table style='float:left' class='hovertable'>
                    <th >               
                        <a href="" id="showfilelog" fq="{{fq.name}}" style="color: rgb(255, 255, 255); background-color:rgb(83, 99, 120); padding: 2px 6px 2px 6px; ">
                            {%if fq.priority == 1%}<div style="display:inline;background-color: #344553 ;color: #ff6262">{{fq.priority_name}}</div> {%endif%}
                            {%if fq.priority == 5%}<div style="display:inline;background-color: #344553 ;color: #00c300">{{fq.priority_name}}</div> {%endif%}
                            {%if fq.priority == 10%}<div style="display:inline;background-color: #344553 ;color: #ffff50">{{fq.priority_name}}</div> {%endif%}
                    {{fq.name}}</a>
                    </th>
                </table>
            {% endfor %}            
            
        </td>
    </tr>    

</table>
    
{% endfor %}
   